/graph.*
/.gradle
/pkg/*.jar
/classpath/*.jar
/build/
*/build/
*/out/
*/target/
*.pyc
/dist/*.tar.gz
/config/test_postgresql.properties
MANIFEST
pom.xml
.digdag

# intellij idea
*.iml
*.ipr
*.iws
*.idea

# generated self-signed cert
littleproxy_cert
littleproxy_keystore.jks