version: 2.0

jobs:
  test:
    parallelism: 4

    # executor type https://circleci.com/docs/2.0/executor-types/
    docker:
      - image: digdag/digdag-build:20180921T102000-413301ee05f9660e41af70cdcddf0c6e747f0cc1
        # environment Variables in a Job https://circleci.com/docs/2.0/env-vars/#setting-an-environment-variable-in-a-job
        environment:
          TERM: dumb
          TZ: 'UTC'
      - image: circleci/postgres:9.5-alpine
        environment:
          POSTGRES_USER: digdag_test
          POSTGRES_DB: digdag_test

    steps:
      - checkout

      # Set up Digdag database
      - run:
          command: |
            set -x
            # wait for PostgreSQL container to be available for 2 mins
            for i in $(seq 1 120); do
              nc -z localhost 5432 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for PostgreSQL && exit 1

      # Run tests with dependencies cache
      - restore_cache:
          key: dependency-cache-{{ .Branch }}-{{ .Revision }}
      - run: ci/run_td_tests.sh
      - save_cache:
          paths:
            - ~/.gradle
            - ~/.m2
          key: dependency-cache-{{ .Branch }}-{{ .Revision }}


      # Collect test reports
      - run: ci/circle_gather_test_reports.sh

      # Save artifacts and test results
      - store_artifacts:
          path: /tmp/circleci-artifacts/build
      - store_test_results:
          path: /tmp/circleci-test-results/build/tests

  docs_deployment:
    # executor type https://circleci.com/docs/2.0/executor-types/
    docker:
      - image: digdag/digdag-build:20180921T191208-befdec51e47abfa34143ee63a8c8929cbfc7c759
        # environment Variables in a Job https://circleci.com/docs/2.0/env-vars/#setting-an-environment-variable-in-a-job
        environment:
          TERM: dumb
          TZ: 'UTC'

    steps:
      - checkout

      # Build and deploy documents
      - run: ci/push_gh_pages.sh

workflows:
  version: 2

  test:
    jobs:
      - test
      - docs_deployment:
          filters:
            branches:
              only:
                - master
                - v0_10