version: 2
jobs:
  build:
    parallelism: 4

    # environment Variables in a Job https://circleci.com/docs/2.0/env-vars/#setting-an-environment-variable-in-a-job
    environment:
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
      CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
      TERM: dumb
      TZ: 'UTC'

    # executor type https://circleci.com/docs/2.0/executor-types/
    docker:
    - image: digdag/digdag-build:20170228T062524-309738ae71c4642d72e2978568fea14a84d0f2a9

    steps:
    # Checks out the code to the working directory
    - checkout
    - run:
        command: 'mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS'
    # Restore the dependency cache
    - restore_cache:
        keys:
        - v1-dep-{{ .Branch }}-
        - v1-dep-master-
        - v1-dep-
    - run: ./gradlew testClasses -PwithoutUi --no-daemon
    # Save dependency cache
    - save_cache:
        key: v1-dep-{{ .Branch }}-{{ epoch }}
        paths:
        - ~/docker
        - ~/.gradle
        - ~/.m2
    # Test
    - run: CI_NODE_TOTAL=$CIRCLE_NODE_TOTAL CI_NODE_INDEX=$CIRCLE_NODE_INDEX ci/run_td_tests.sh
    - run: ci/circle_gather_test_reports.sh

    # Save test results
    - store_test_results:
        path: /tmp/circleci-test-results
    # Save artifacts
    - store_artifacts:
        path: /tmp/circleci-artifacts
    - store_artifacts:
        path: /tmp/circleci-test-results

  deploy_docs:
    environment:
      TERM: dumb
      TZ: 'UTC'

    # executor type https://circleci.com/docs/2.0/executor-types/
    docker:
    - image: digdag/digdag-build:20170228T062524-309738ae71c4642d72e2978568fea14a84d0f2a9

    steps:
    # Checks out the code to the working directory
    - checkout
    - run: ci/run_deployment.sh

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy_docs:
          filters:
            branches:
              only:
                - master