{
  "presets": [
    "es2016",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    [
      "typecheck",
      {
        "disable": {
          "production": true
        }
      }
    ]
  ]
}
