{
  "presets": [
    "es2016",
    "react"
  ],
  "plugins": [
    [
      "typecheck",
      {
        "disable": {
          "production": true
        }
      }
    ],
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-class-properties"
  ]
}
