{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "development": {
      "plugins": [
        ["transform-object-rest-spread"],
        ["transform-react-display-name"],
        ["syntax-flow"],
        ["transform-flow-strip-types"],
        ["transform-class-properties"]
      ]
    },
    "production": {
      "plugins": [
        ["transform-runtime"],
        ["transform-object-rest-spread"],
        ["transform-react-display-name"],
        ["syntax-flow"],
        ["transform-flow-strip-types"],
        ["transform-class-properties"]
      ]
    }
  }
}
