<configuration>
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${digdag.log.path}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${digdag.log.path}.%i.gz</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>5</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS Z} [%level] (%thread\): %m%n</pattern>
    </encoder>
  </appender>

  <logger name="io.netty.util" level="INFO"/>
  <logger name="io.netty.buffer" level="INFO"/>
  <logger name="com.zaxxer.hikari" level="INFO"/>

  <appender name="digdag-context" class="io.digdag.cli.LogbackTaskContextLoggerBridgeAppender">
  </appender>

  <root level="${digdag.log.level}">
    <appender-ref ref="file"/>
    <appender-ref ref="digdag-context"/>
  </root>
</configuration>
